# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# for voiceomnia Dir
**/voiceomnia/wasm_voiceomnia.*

# for prebuild
lib/prebuilt/*

# build assets
public/assets

# environment file
.env

# for release package
skyway-ai-noise-canceller-*.tgz

# for test coverage
coverage/*
